[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/rainbow_parentheses.vim"]
	path = .vim/bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "applications/guake"]
	path = applications/guake
	url = https://github.com/Guake/guake.git
[submodule "applications/keepassx"]
	path = applications/keepassx
	url = https://github.com/keepassx/keepassx.git
[submodule "applications/vim"]
	path = applications/vim
	url = https://github.com/vim/vim.git
[submodule "applications/tmux"]
	path = applications/tmux
	url = https://github.com/tmux/tmux.git
[submodule "applications/ansible"]
	path = applications/ansible
	url = https://github.com/ansible/ansible.git
