[submodule ".vim/bundle/vim-airline"]
	path = vim_submodules/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = vim_submodules/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-fugitive"]
	path = vim_submodules/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/rainbow_parentheses.vim"]
	path = vim_submodules/bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim_submodules/bundle/vim-livedown"]
	path = vim_submodules/bundle/vim-livedown
	url = git://github.com/shime/vim-livedown.git
