"*":
  core:
    projectHome: "/Users/chriscuming/Projects"
    telemetryConsent: "no"
    titleBar: "custom-inset"
  editor:
    atomicSoftTabs: false
    autoIndent: false
    autoIndentOnPaste: false
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "e1f05df4-4cde-4956-87ff-58e3f0ddaddc"
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus":
    experimental:
      stageFilesBeta: false
  github: {}
  termination:
    style:
      theme: "one-dark"
    toggles: {}
  "vim-mode-plus":
    clearMultipleCursorsOnEscapeInsertMode: true
    notifiedCoffeeScriptNoLongerSupportedToExtendVMP: true
  welcome:
    showOnStartup: false
