[Desktop Entry]
Version=1.0
Name=Google Chrome
Exec=/usr/bin/google-chrome
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
X-Ayatana-Desktop-Shortcuts=NewWindow;NewIncognito
StartupVMCLass=Google-chrome-stable
[NewWindow Shortcut Group]
Name=New Window
Exec=/usr/bin/google-chrome
TargetEnvironment=Unity
[NewIncognito Shortcut Group]
Name=New Incognito Window
Exec=/usr/bin/google-chrome --incognito
TargetEnvironment=Unity
